.thank-you-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin-top: 15vh;
    height: 300px;
    width: 100%;
}

.thank-you-text{
    text-align: center;
}

.cont-btn{
    margin: 0;
}

@media screen and (min-width: 1440px) {
    .thank-you-container{
        margin: 0;
    }
}